<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header-nav.ejs') %>
    <main>
      <form action="/new" method="POST" class="form-new-message">
        <label for="user">User:</label>
        <input type="text" name="user" id="user" />

        <label for="message">Message:</label>
        <textarea name="message" id="message" cols="30" rows="10"></textarea>

        <button type="submit">Send</button>
      </form>
    </main>
  </body>
</html>
